<mat-toolbar color="primary" class="menu-bar">
  <div class="d-none d-md-block">
    <span class="spacer"></span>
    @if (logged) {
    <button mat-button>Bienvenido, {{ (user$ | async)?.name || 'Usuario' }}</button>
    } @else {
    <button mat-button (click)="login()">Login</button>
    }
    <button mat-button routerLink="/">Inicio</button>
    <button mat-button routerLink="site/about">Acerca</button>
    <button mat-button routerLink="/settings">Configuración</button>
    <button mat-button routerLink="/admin">Admin</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div class="d-md-none">
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      @if (logged) {
      <button mat-menu-item disabled>
        Bienvenido, {{ (user$ | async)?.name || 'Usuario' }}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
      } @else {
      <button mat-menu-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>