<app-container>
  <form [formGroup]="paymentMethodForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        @for(type of paymentTypes; track type.value) {
          <mat-option [value]="type.value">{{ type.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Fee (%)</mat-label>
      <input matInput type="number" formControlName="fee" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="paymentMethodForm.invalid"
    >
      Guardar
    </button>
  </form>
</app-container>
