
<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav color="primary" #drawer mode="side" class="sidenav" fixedInViewport [opened]="isSidebarOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin/products/list">productos</a>
      <a mat-list-item routerLink="/admin/inventory">Inventario</a>
      <a mat-list-item routerLink="/settings">Ventas</a>
      <a mat-list-item routerLink="/admin/users">Reportes</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>