.sidenav-container {
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura */
  display: flex;
  flex-direction: column;
  //background-color: var($pink, #FFFFFF);
}

.sidenav {
  margin-top: 5%;
  width: 250px; /* Ancho del sidebar */
 // background-color: var($pink) !important;
  color: var(--app-foreground-color) !important;
}

.main-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  padding: 16px;
  margin-top: 64px; /* Ajusta el contenido para que no se superponga con el toolbar */
}

@media (max-width: 768px) {
  .sidenav {
    width: 200px;
  }
}