<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav color="primary" #drawer mode="side" class="sidenav" fixedInViewport [opened]="isSidebarOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/site" (click)="closeIfMobile()">Inicio</a>
      <a mat-list-item routerLink="/admin/products/list" (click)="closeIfMobile()">Productos</a>
      <a mat-list-item routerLink="/admin/inventory" (click)="closeIfMobile()">Inventario</a>
      
      <!-- Submenú Ventas -->
      <mat-expansion-panel class="mat-elevation-z0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ventas
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/admin/sales" (click)="closeIfMobile()">Listado de Ventas</a>
          <a mat-list-item routerLink="/admin/sales/create" (click)="closeIfMobile()">Agregar Venta</a>
          <a mat-list-item routerLink="/admin/sales/dashboard" (click)="closeIfMobile()">Dashboards</a>
          <a mat-list-item routerLink="/admin/sales/prefixes" (click)="closeIfMobile()">Folios de Venta</a>
        </mat-nav-list>
      </mat-expansion-panel>
      
      <a mat-list-item routerLink="/admin/users" (click)="closeIfMobile()">Usuarios</a>
      <a mat-list-item routerLink="/admin/payment-methods" (click)="closeIfMobile()">Métodos de Pago</a>
      <a mat-list-item routerLink="/admin/users" (click)="closeIfMobile()">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>