
.list-container {
  padding: 1rem;

  table {
    width: 100%;
  }

  th.mat-header-cell {
    font-weight: bold;
  }

  td.mat-cell {
    text-align: left;
  }

  .btn-format {
    margin: 0.5rem;
  }
}